# {{ ansible_managed }}
{% for profile in item.value.aws.profiles %}
{%    if profile.name == 'default' %}
[default]
{%    else %}
[profile {{ profile.name }}]
{%    endif %}
{%    if profile.config is defined %}
{%       for key, value in profile.config.items() %}
{{ key }} = {{ value }}
{%       endfor %}
{%    endif %}
{% endfor %}
